<div class="row title-panel">
<div class="container-fluid title-panel text-center col-lg-6">
			<div ><h1>Jonathan Maddison</h1></div> 
			<div><div> <h4>Software Engineer</h4></div><div>  <h4>Community Developer</h4></div></div>
			<div ><img class= "img-circle profile-img" src="/static/images/profile.jpg"></div>
	</div>
