<div class="row title-panel">
<div class="container-fluid title-panel text-center col-lg-6">
			<div ><h1>Jonathan Maddison</h1></div> 
			<div><div> Software Engineer</div><div>  Community Developer</div></div>
			<div ><img class= "img-circle profile-img" src="/static/images/profile.jpg"></div>
	</div>
