<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-6 title-panel vertical-align">
			<h1>Jonathan Maddison</h1> 
			<h4>Software Engineer</h4>
            <h4>Community Developer</h4>
		</div>
		<div class="col-sm-6 title-panel vertical-align">
			<img class= "img-circle profile-img" src="/static/images/profile.jpg">
		</div>
	</div>
</div>
<div class="container-fluid bio">
	<div class="row">
		<div class="col-xl-12">
           I am a software engineer and community developer. As a community developer, I was always drawn to software tools to understand data, educate people, and manage my work. After moving to the Bay Area, I committed myself to learning how to code. I am currently proficient in javascript and front-end development and learning more everyday!
           My goal is to work as a software engineer and eventually project manager on technology tools that enrich communities with the tools they need to become resilient, self-sufficient, and healthy.
            <button type="button" class="btn btn-primary btn-sm outline contact-me">Contact Me</button>
		</div>
	</div>
</div>

