<div class="container-fluid bio col-lg-6">
	<div class="row">
		<div class="col-xl-12">
           <h2 class="about"> About Me </h2>
           <h4>
           Thanks for visiting! I am a self-taught software engineer, and community developer with expertise in frontend development, team leadership and program management. I am passionate about work that has positive impact community health and sustainability. I am currently seeking a position as a frontend software engineer in the Bay Area.
            </h4>
            <a class="btn btn-primary btn-sm outline contact-me" target="_top" href="mailto:jonathanwmaddison@gmail.com">Contact Me</a>
		</div>
	</div>
</div>
</div>
</div>
