<div class="container-fluid bio col-lg-12">
	<div class="row">
		<div class="col-xl-12">
           <h2 class="about"> About Me </h2>
           <h4 class='about-text'>
           I am a software engineer and community developer. I love solving difficult user stories for front end applications. My expertise is in React-Redux and React Native front ends. I am a lead developer at Alzcare Labs where we are building their flagship app, FindMe that will help family and caregivers care for their loved ones with Alzheimers or dementia. I am passionate about work that has a positive impact on community health and sustainability.
            </h4>
            <a class="btn btn-primary btn-sm outline contact-me" target="_blank" href="mailto:jonathanwmaddison@gmail.com">Contact Me</a>
		</div>
	</div>
</div>
</div>
</div>
