<div class="container-fluid bio col-lg-6">
	<div class="row">
		<div class="col-xl-12">
           <h2 class="about"> About Me </h2>
           <h4>
           Thanks for visiting! I am a self-taught software engineer with expertise in front end development, and a community developer with experience in program management and team leadership. I am passionate about work that has a positive impact on community health and sustainability. I am currently seeking a position as a front end software engineer.
            </h4>
            <a class="btn btn-primary btn-sm outline contact-me" target="_blank" href="mailto:jonathanwmaddison@gmail.com">Contact Me</a>
		</div>
	</div>
</div>
</div>
</div>
