        <div class="row social-icons text-center">
            <div class="personal">
				<h5>Jonathan Maddison </h5>
        <h5><a class='email' href='mailto:jonathanwmaddison@gmail.com'>jonathanwmaddison@gmail.com</a></h5>
            </div>
            <h4> Connect with me</h4>
	        <a target='_blank' href="https://www.linkedin.com/in/jonathan-maddison-a67b7930">
  		        <img  class='social' src="/static/images/linkedin.png" >
  	        </a>
	        <a target='_blank' href="https://github.com/jonathanwmaddison">
  		        <img  class='social' src="/static/images/GitHub_Logo.png">
  	        </a>
  	        <a target='_blank' href="https://www.freecodecamp.com/jonathanwmaddison">
  		        <img class='social'  src="/static/images/freecodecamp.png">
  	        </a>
    </div>
</body>
</html>
