        <div class="social-icons text-center">
            <div class="personal">
				<h5>Jonathan Maddison  802-734-1161 jonathanwmaddison@gmail.com</h5>
            </div>
            <h4> Connect with me</h4> 
	        <a target='_blank' href="https://www.linkedin.com/in/jonathan-maddison-a67b7930"> 
  		        <img  class='social' src="/static/images/linkedin.png" >
  	        </a>
	        <a target='_blank' href="https://github.com/jonathanwmaddison"> 
  		        <img  class='social' src="/static/images/GitHub_logo.png">
  	        </a> 
  	        <a target='_blank' href="https://www.freecodecamp.com/jonathanwmaddison">
  		        <img class='social'  src="/static/images/freecodecamp.png">
  	        </a>
    </div>
</body>
</html>
