<% include header %>
<title>Jonathan Maddison, Portfolio</title>
</head>
<body>
<div class="my-nav">
	<div class="container-fluid">
   		 <a href="/"class="resume-link">Resume</a>
         <a class="active portfolio-link" href="/portfolio">Portfolio</a>
	</div>
</div>

<% include bio %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 supplements">
            <div class="portfolio">
                <h2>Portfolio</h2>
                <div class="row">
                   <div class="col-md-4">
                        <a href="/portfolio/project-game-of-life" type="GET" >
                            <img class="gif" src="/static/images/gameoflife4.gif">
                       </a>  
                   </div>
                   <div class="col-md-4">
                        <a href="/portfolio/project-rep-finder" type="GET" >
                            <img class="img-responsive" src="/static/images/rep-finder.png">
                       </a>  
                   </div>
                   <div class="col-md-4">
                        <a href="https://jonathanwmaddison.github.io/rising-circles/build/index.html" target="_blank">
                            <img class="img-responsive" src="/static/images/rising-circles.png">
                       </a>  
                   </div>
                </div>
            </div>
        </div>     
    </div>
<% include footer %> 
