<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./styles.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

	<title>Jonathan Maddison, Community and Web Development</title>
</head>
<body>
<div class="my-nav">
	<div class="container-fluid">
   		 <a class="resume-link">Resume</a>
         <a class="active portfolio-link" href="#">Portfolio</a>
	</div>
</div>
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-6 title-panel vertical-align">
			<h1>Jonathan Maddison</h1> 
			<h4>Software Engineer</h4>
            <h4>Community Developer</h4>
		</div>
		<div class="col-sm-6 title-panel vertical-align">
			<img class= "img-circle profile-img" src="images/profile.jpg">
		</div>
	</div>
</div>
<div class="container-fluid bio">
	<div class="row">
		<div class="col-xl-12">
           I am a software engineer and community developer. As a community developer, I was always drawn to software tools to understand data, educate people, and manage my work. However, I never had time to explore this interest. After moving to the Bay Area, I committed myself to learning how to code. I am currently proficient in javascript and front-end development and learning more everyday!
           My goal is to work as a software engineer and eventually project manager on technology tools that enrich communities with the tools they need to become resilient, self-sufficient, and healthy.
            <button type="button" class="btn btn-primary btn-sm outline contact-me">Contact Me</button>
		</div>
	</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 supplements">
            <div class="portfolio">
                <h2>Portfolio</h2>
                <div class="row">
                   <div class="col-md-4">
                        <a href="https://jonathanwmaddison.github.io/gameoflife/build/index.html" target="_blank">
                            <img class="gif" src="images/gameoflife4.gif">
                       </a>  
                   </div>
                   <div class="col-md-4">
                        <a href="https://jonathanwmaddison.github.io/rep-finder" target="_blank">
                            <img class="img-responsive" src="images/rep-finder.png">
                       </a>  
                   </div>
                   <div class="col-md-4">
                        <a href="https://jonathanwmaddison.github.io/rising-circles/build/index.html" target="_blank">
                            <img class="img-responsive" src="images/rising-circles.png">
                       </a>  
                   </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="row">
        <div class="col-xl-12 social-icons text-center">
            <div class="personal">
				<h5>Jonathan Maddison  802-734-1161 jonathanwmaddison@gmail.com</h5>
            </div>
            <h4> Connect with me</h4> 
	        <a target='_blank' href="https://www.linkedin.com/in/jonathan-maddison-a67b7930"> 
  		        <img  class='social' src="./images/linkedin.png" >
  	        </a>
	        <a target='_blank' href="https://github.com/jonathanwmaddison"> 
  		        <img  class='social' src="./images/GitHub_logo.png">
  	        </a> 
  	        <a target='_blank' href="https://www.freecodecamp.com/jonathanwmaddison">
  		        <img class='social'  src="./images/freecodecamp.png">
  	        </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 address"> </div>
    </div>
</body>
</html>
