<%- include('header', {resume: "active", portfolio: "", back: ""}) %> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/compact-html.css">

<main>
   <a class="btn btn-primary btn-sm outline resume-link" href="/static/pdf/jonathanmaddison.pdf">Download</a>
            <header>
                 <h1>Jonathan Maddison</h1>

                <div id="contact">
                802-734-1161 jonathanwmaddison@gmail.com</div>
            </header>
            <hr>
            <section id="skills">
                <header> <span class="fa fa-lg fa-code"></span> 
                     <h2>skills</h2>

                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Skill</th>
                            <th>Keywords</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 25%;">Javascript</td>
                            <td class="keywords">React, Express, jQuery, paperJS</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;">HTML &amp; CSS</td>
                            <td class="keywords">Bootstrap, Flexbox</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;">Python and C</td>
                            <td class="keywords"></td>
                        </tr>
                        <tr>
                            <td style="width: 25%;">Leadership</td>
                            <td class="keywords">Supervision, Project Management, Strategic Planning, Grant Writing</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;">Communication</td>
                            <td class="keywords">Public speaking, Community Outreach, Writing, Facilitation</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <hr>
            <section id="employment">
                <header> <span class="fa fa-building"></span> 
                     <h2>Employment</h2>

                </header>
                <div>
                     <h3><em>Self-Taught Software Engineer</em>,
    freeCodeCamp
    </h3>
 <span class="tenure">2016 — Present</span>

                    <p>
                        <p>After moving to the Bay Area, I decided to pursue my strong interest in
                            programming. I am following freeCodeCamp&#39;s model to become a full stack
                            software engineer. I am also involved in a cohort of other learners organized
                            by the freeCodeCamp community to facilitate pair-programming, team projects
                            and a community-oriented learning environment.</p>
                    </p>
                    <ul>
                        <li>Completing a project based curriculum that requires a mastery of the fundamentals
                            of full stack software engineering.</li>
                        <li>Maintaining a clear direction, focus, and discipline to achieve personal
                            mastery of a new skillset.</li>
                        <li>Networking with other learners to build cooperative, engaging and rich
                            learning environments.</li>
                    </ul>
                </div>
                <div>
                     <h3><em>Way2Go Program Manager</em>,
    Cornell Cooperative Extension
    </h3>
 <span class="tenure">2013 — 2016</span>

                    <p>
                        <p>After a year at Cornell Extension I was promoted to the leadership position
                            of Way2Go, a transportation education and outreach program. I managed a
                            team of community educators that led programs designed to address people&#39;s
                            transportaiton needs in Tompkins County. Under my leadership, I expanded
                            Way2Go regionally and supported a sister program in Utica, NY, I grew the
                            biannual Streets Alive event by building partnerships and event sponsors,
                            and recieved over $200K in new grants to support innovative programming</p>
                    </p>
                    <ul>
                        <li>Program direction and strategy for the Way2Go program through synthesizing
                            input from community outreach with residents, local officials, and other
                            partners</li>
                        <li>Recruit, hire, support and supervise a team of community educators and
                            interns who are implementing programs</li>
                        <li>Secure funding to achieve Way2Go&#39;s Strategic Goals including over
                            $100 thousand in funding for new progams</li>
                        <li>Oversee administrative tasks including reporting, budgeting, and grant
                            wrtiing</li>
                    </ul>
                </div>
                <div>
                     <h3><em>Way2Go Travel Training Coordinator</em>,
    Cornell Cooperative Extension
    </h3>
 <span class="tenure">2012 — 2013</span>

                    <p>
                        <p>I was hired at Way2Go to develop and implement programs to address the
                            needs of people with disabilities, older adults, and people with limited
                            english proficiency. I built a network of stakeholders to identify travel
                            training needs, built a train the trainer program, and lead how-to workshops
                            for community members</p>
                    </p>
                    <ul>
                        <li>Coordinated three workshops for front line staff and parents to educate
                            them on travel training techniques resulting in over 30 individuals with
                            capacity to conduct travel training in their community.</li>
                        <li>Designed and implemented a bus buddy pilot program that operated in 2012-2013
                            that engaged older adult volunteers to help other older adults use the
                            local transit system.</li>
                        <li>Conducted outreach with more than two dozen agencies that provide service
                            to people with disabilities, older adults, or people with limited English
                            proficiency that helped increase collaboration and community coordination
                            around serving the transportation needs of these audiences.</li>
                    </ul>
                </div>
                <div>
                     <h3><em>AmeriCorps Disaster Prepardness Educator</em>,
    American Red Cross/AmeriCorps
    </h3>
 <span class="tenure">2011 — 2012</span>

                    <p>
                        <p>After graduate school I served as an AmeriCorps volunteer with the American
                            Red Cross. I was hired to coordinate a disaster preparedness education
                            program in a three county region in upstate New York, right after major
                            floods hit the region. I conducted disaster preparedness workshops, built
                            relationships with program partners, recruited volunteers, and represented
                            the American Red Cross at community events</p>
                    </p>
                </div>
                <div>
                     <h3><em>Graduate Research Assistant</em>,
    UVM Transportation Research Center
    </h3>
 <span class="tenure">2009 — 2011</span>

                    <p>
                        <p>When I was studying for my Master of Public Administration, I was also
                            funded as a graduate research assistant at the Transportation Research
                            Center. My research advisor, Richard Watts, and I had a research interest
                            in how the media reports on transportation issues. We published several
                            papers on how the media reports on vehicle emissions which also contributed
                            to my Masters Thesis.</p>
                    </p>
                </div>
            </section>
            <hr>
            <section id="education">
                <header> <span class="fa fa-mortar-board"></span> 
                     <h2>Education</h2>

                </header>
                <div>
                     <h3>freeCodeCamp</h3>
 <span class="tenure">2016 — Present</span><br>
                      <h3>Full Stack Software Certification</h3>
                      
                </div>
                <div>
                     <h3>University of Vermont</h3>
                     <span class="tenure">2009 — 2011</span><br>
                      <h3>Master in Public Administration</h3><br>
                      <h3>Awards: Transportation Research Center Student of the Year 2011</h3>
                      
                </div>
                <div>
                     <h3>University of Vermont</h3>
                      <span class="tenure">2007 — 2009</span><br>
                <h3>Bachelor of Science in Community and International Development</h3><br>
                      <h3>Awards: Summa Cum Laude (top 1%), Departmental and College Honors for ‘Academic Excellence and Professional Potential’, Dean’s List (every semester)</h3>

                </div>
            </section>
            <hr>
            <section id="writing">
                <header> <span class="fa fa-pencil"></span> 
                     <h2>Publications</h2>

                </header>
                <div>
                     <h3><em><a class='theme' href="https://www.researchgate.net/publication/312961834_Print_News_Uses_More_Source_Diversity_than_Does_Broadcast">Print News Uses More Source Diversity than Does Broadcast</a></em>,
      </h3>
 <span class="tenure">2014</span>

                </div>
                <div>
                     <h3><em><a class='theme' href="https://www.researchgate.net/publication/258181623_Policy_Making_Incrementalism_and_News_Discourse_Gasoline_Tax_Debates_in_Eight_US_States">Policy Making, Incrementalism, and News Discourse Gasoline Tax Debates in Eight U.S. States</a></em>,
      </h3>
 <span class="tenure">2012</span>

                </div>
                <div>
                     <h3><em><a class='theme' href="https://www.researchgate.net/publication/241767483_The_role_of_media_actors_in_reframing_the_media_discourse_in_the_decision_to_reject_relicensing_the_Vermont_Yankee_nuclear_power_plant">The role of media actors in reframing the media discourse in the decision to reject relicensing the Vermont Yankee nuclear power plant</a></em>,
      </h3>
 <span class="tenure">2012</span>

                </div>
                <div>
                     <h3><em><a class='theme' href="https://www.researchgate.net/publication/283083065_Government_Sources_Dominate_Vehicle_Emissions_Coverage">Government Sources Dominate Vehicle Emissions Coverage</a></em>,
      </h3>
 <span class="tenure">2012</span>

                </div>
                <div>
                     <h3><em><a class='theme' href="https://www.researchgate.net/publication/251513050_The_Technological_Fix_as_a_Frame_in_Media_Debates_about_Tailpipe_Emissions">The Technological Fix as a Frame in Media Debates about Tailpipe Emissions</a></em>,
      </h3>
 <span class="tenure">2011</span>

                </div>
            </section>
        </main>
      
<% include footer %>
