<%- include('header', {resume: "active", portfolio: "", back: ""}) %> 
<% include banner %>
<% include bio %>
<div class="core-resume">
    <div class="work-experience">         
        <h3 class="resume-header" data-toggle="collapse" data-target=".programming-experience">Programming</h3>
        <div class="programming-experience well collapse in">
<!--
                        <h5>FreeCodeCamp Front End Certification</h5>
                        <h6>This required me to complete basic and advanced javascript challenges and complete several projects: Calculator, Pomodor Clock, Tic Tac Toe, Simon.
                        <h5>Harvard's CS50: Introduction to Computer Science</h5>
                        <h5>HackReactor Prep Course</h5>
                        <li>Web Developer Bootcamp, Udemy Online Course</li>
                    </ul>
                    <h4>Proficiencies</h4>
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <h5>Programming Languages (listed from more to less proficient):<br> Javascript, HTML/CSS, C, SQL Python	</h5>
                        </div>
                        <div class="col-sm-4 well">
                            <h5>Frontend</h5>
                            <h6>Tools I use: HTML, CSS, npm, React, jQuery, Webpack, and Bootstrap. <br><br>
                        I am comfortable with building front end web apps from the ground up. I can incorporate data from multiple APIs and make use of mashups of libraries to make engaging web apps. I regularly use git to track my work and push my commits to Github and deploy with either Github Pages or Heroku. </h6>
                        </div>	
                        <div class="col-sm-4 well">
                            <h5>Backend</h5>
                            <h6> Tools I use: MongoDB, and SQL</h6>
                        </div>	
                        <div class="col-sm-4 well">
                            <h5>Server</h5>
                            <h6> Tools I use: Express, RESTful routing<h6>
                        </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <h3 data-toggle="collapse" class="resume-header" data-target=".community-development">Community Development</h3>
            <div class="community-development well collapse">
                <h5> Cornell Cooperative Extension of Tompkins County <span class='pull-right'>2013-2016</span> </h5>
                <h5> Way2Go Program Manager</h5> 
                <h6><ul>
                    <li> Provided strategic direction for a program created to address transportation needs in a county-
            wide region.</li>
                    <li>Supervised staff delivering transportation education workshops and coordinating events. - Secure funding to achieve Way2Go’s strategic goals</li>
                    <li>Oversee administrative tasks including reporting, budgeting, and grant writing.</li>
                </ul></h6>
                <h5>Cornell Cooperative Extension <span class="pull-right">2012-2013</span></h5>
                <h5> Way2Go Travel Training Coordinator</h5>
                <h6><ul>
                    <li>Led a collaborative network of agencies to enhance travel training in the county.</li>
                    <li>Provided educational tools and other technical travel training resources to organizations.</li>
                    <li>Secured resources for local travel training initiatives.</li>
                </ul></h6>
             </div>
                <h3 data-toggle="collapse" class="resume-header" data-target=".research">Research</h3>
             <div class="research well collapse">
                <h5>Transportation Research Center<span class='pull-right'>2009-2011</span></h5>
                <h5>University of Vermont Research Assistant</h5>
                <ul>
                    <li>Conducted a longitudinal study of the media discourse on vehicle emission control policy.</li>
                    <li>Led the collection, quantitative analysis, and interpretation of media data.</li>
                </ul>
                <h5>Research Publications</h5>
                <h6 class="publication-title"><a href="https://www.researchgate.net/publication/258181623_Policy_Making_Incrementalism_and_News_Discourse_Gasoline_Tax_Debates_in_Eight_US_States">Policy Making, Incrementalism, and News Discourse Gasoline Tax Debates in Eight U.S. States</a></h6>
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/312961834_Print_News_Uses_More_Source_Diversity_than_Does_Broadcast">Print News Uses More Source Diversity than Does Broadcast</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/283083065_Government_Sources_Dominate_Vehicle_Emissions_Coverage">Government Sources Dominate Vehicle Emissions Coverage</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/251513050_The_Technological_Fix_as_a_Frame_in_Media_Debates_about_Tailpipe_Emissions">The Technological Fix as a Frame in Media Debates about Tailpipe Emissions</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/241767483_The_role_of_media_actors_in_reframing_the_media_discourse_in_the_decision_to_reject_relicensing_the_Vermont_Yankee_nuclear_power_plant">The role of media actors in reframing the media discourse in the decision to reject relicensing the Vermont Yankee nuclear power plant</a></h6> 
                <h6 class-"publication-title"><a href=""> </a></h6> 
            </div>
            <h3 data-toggle="collapse" data-target=".education" class="resume-header">Education</h3>
            <div class="education well collapse">
                <h5>Open Source Education <span class="pull-right">2016-Present</span></h5>
                <ul>
                    <li>FreeCodeCamp Front End Certification</li>
                    <li>Harvard's CS50: Introduction to Computer Science</li>
                    <li>HackReactor Prep Course</li>
                    <li>Web Developer Bootcamp, Udemy Online Course</li>
                </ul>
                <h5>Master of Public Administration <span class="pull-right">2012</span> </h5>
                <h6>University of Vermont</h6> 
                <h6>Thesis: The Social Construction and Framing of Tailpipe Emissions in the Media.</h6>
                <h6>Honors: Transportation Research Center Student of the Year 2011</h6>
                <h5>B.Sc. in Community & International Development<span class="pull-right">2009<span></h5>
                <h6>University of Vermont</h6> 
                <h6>Honors: Summa Cum Laude (top 1%), Departmental and College Honors for ‘Academic Excellence and Professional Potential’, Dean’s List (every semester).</h6>
            </div>
        </div>
    </div>
</div>
<% include footer %>
